# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcuserstate  
project.xcworkspace  
xcuserdata  
UserInterfaceState.xcuserstate  
project.xcworkspace/  
xcuserdata/  
UserInterface.xcuserstate
*.moved-aside
DerivedData
.idea/
*.hmap

# 忽略`Pods/`和`Podfile.lock`
Pods/
Podfile.lock
# 忽略`appcode配置文件`
.idea/
*.xcuserstate  
project.xcworkspace  
xcuserdata  
UserInterfaceState.xcuserstate  
project.xcworkspace/  
xcuserdata/  
UserInterface.xcuserstate
UFStoryArt.xcworkspace/xcuserdata/fangyun.xcuserdatad/UserInterfaceState.xcuserstate
UFStoryArt.xcworkspace/xcuserdata/caohua.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist